{% extends '::base.html.twig' %}

{% block title %} Editar País {% endblock %}

{% block body %}
<div class="panel panel-default" style="margin:20px">
  <div class="panel-heading">
    <h2 class="panel-title"> Actualizar País </h2>
  </div>
  <div class="panel-body">
    {{ form_start(formulario) }}
      <div class="form-group">
        {{ form_row(formulario.name, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.continent, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.region, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.surfacearea, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.indepyear, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.population, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.lifeexpectancy, {'attr':{'class':'form-control'}}) }}
      </div><div class="form-group">
        {{ form_row(formulario.gnp, {'attr':{'class':'form-control'}}) }}
      </div><div class="form-group">
        {{ form_row(formulario.gnpold, {'attr':{'class':'form-control'}}) }}
      </div><div class="form-group">
        {{ form_row(formulario.localname, {'attr':{'class':'form-control'}}) }}
      </div><div class="form-group">
        {{ form_row(formulario.governmentform, {'attr':{'class':'form-control'}}) }}
      </div><div class="form-group">
        {{ form_row(formulario.headofstate, {'attr':{'class':'form-control'}}) }}
      </div><div class="form-group">
        {{ form_row(formulario.code2, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.capital, {'attr':{'class':'form-control'}}) }}
      </div>
      {{ form_widget(formulario.Guardar, {'attr':{'class':'btn btn-primary'}}) }}
      {{ form_widget(formulario.Reset, {'attr':{'class':'btn btn-info'}}) }}
      {{ form_widget(formulario.Cancelar, {'attr':{'class':'btn btn-danger'}}) }}

    {{ form_end(formulario) }}
  </div>
</div>
{% endblock %}
