{% extends '::base.html.twig' %}

{% block body %}
<br>
  <div class="form-group">
    <a href="nuevo" class="btn btn-primary">Nuevo Registro</a>
  </div>

  <table id="example" class="display table table-bordered" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Continent</th>
        <th>Region</th>
        <th>Surface Area</th>
        <th>Independence Year</th>
        <th>Population</th>
        <th>Life Expectancy</th>
        <th>Gnp</th>
        <th>Gnp Old</th>
        <th>Localname</th>
        <th>Government Form</th>
        <th>Head of State</th>
        <th>Capital</th>
        <th>Code 2</th>
        <th> Opciones </th>
      </tr>
    </thead>
    <tfoot>
    </tfoot>
  </table>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      var table = $('#example').DataTable( {
        "ajax": "{{ path('practica2_data') }}",
        "columns": [
            { "data": "code" },         { "data": "name" },
            { "data": "continent" },    { "data": "region" },
            { "data": "surfacearea" },  { "data": "indepyear" },
            { "data": "population" },   { "data": "lifeexpectancy" },
            { "data": "gnp" },          { "data": "gnpold" },
            { "data": "localname" },    { "data": "governmentform" },
            { "data": "headofstate" },  { "data": "capital" },
            { "data": "code2" },
            {
              "data": "null", // can be null or undefined
              "defaultContent": '<a class="btn btn-success" href="#"><span class="glyphicon glyphicon-edit"></span></a> <button class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span> </button>'
            }
        ]
      } );

      $('#example tbody').on( 'click', 'a', function () {
        var data = table.row( $(this).parents('tr') ).data();
        // window.location.href = "{{ path('practica2_editar', {'id': "+data['code']+"}) }}";
        console.log(data['code']);
        window.location.href = "{{ path('practica2_editar', {'id': 5 }) }}";
      } );

      $('#example tbody').on( 'click', 'button', function () {
        var data = table.row( $(this).parents('tr') ).data();
        // window.location.href = "{{ path('practica2_eliminar', {'id': "+data['code']+"}) }}";
        console.log(data['code']);
        window.location.href = "{{ path('practica2_eliminar', {'id': 8 }) }}";
      } );
    } );
  </script>
{% endblock %}
